:root {
  --bg-header: #002e5d;
  --bg-btn: #335185;
  --bg-hover: #1f4b99;
  --bg-main: #f4f4f4;
  --bg-secondary: #e3e3e3;
  --border-color: #b0b0b0;
  --text-primary: #ffffff;
  --text-secondary: #4a4a4a;
  --highlight: #fdd835;
  --accent: #4caf50;
  /* GBA */
  --bg-header-gba: #5b0e99;
  --bg-header-gba-hover: #a982d2;
  /* NDS */
  --bg-header-nds: #d9d9d9;
  /* 3DS */
  --bg-header-3nds: #990000;
  --bg-header-3nds-hover: #c8102e;
  --accent-3ds: #999999;
}

.bg-header {
  background-color: var(--bg-header);
}
.bg-main {
  background-color: var(--bg-main);
}
.bg-btn {
  background-color: var(--bg-btn);
}
.bg-hover {
  background-color: var(--bg-hover);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.border-color {
  border-color: var(--border-color);
}
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-terciary {
  color: var(--bg-hover);
}
.highlight {
  background-color: var(--highlight);
}
.accent {
  color: var(--accent);
}
/* GBA */
.bg-header-gba {
  background-color: var(--bg-header-gba);
}
.bg-header-gba-hover {
  background-color: var(--bg-header-gba-hover);
}
/* NDS */
.bg-header-nds {
  background-color: var(--bg-header-nds);
}
/* 3DS */
.bg-header-3ds {
  background-color: var(--bg-header-3nds);
}
.bg-header-3ds-hover {
  background-color: var(--bg-header-3nds-hover);
}
.accent-3ds {
  color: var(--accent-3ds);
}
