/* Estilo geral da página */
.container_main {
  display: grid;
  grid-template-columns: auto 700px auto;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
}

/* Coluna de guias (links internos) */
.guide {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
}

.guide li {
  margin-bottom: 0.5rem;
}

.guide a {
  text-decoration: none;
  color: var(--bg-header-gba);
  transition: color 0.2s;
}

.guide a:hover {
  color: var(--bg-header-gba-hover);
}

/* Coluna de conteúdo principal */
.content {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content article {
  margin-bottom: 2rem;
}
.content h2 {
  margin-bottom: 1rem;
}
.content h3 {
  color: var(--bg-header-gba);
  margin-bottom: 1rem;
}

.content p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Coluna de links de arquivos */
.files {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
}

.files h3 {
  margin-bottom: 1rem;
}

.files ul {
  list-style: none;
  padding: 0;
}

.files li {
  margin-bottom: 0.5rem;
}

.files a,
.link_gba {
  color: var(--bg-header-gba);
  transition: color 0.2s;
}

.files a:hover {
  color: var(--bg-header-gba-hover);
}

/* Breadcrumb para mobile */
.breadcrumb {
  display: none; /* Inicialmente escondido */
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.breadcrumb a {
  margin-right: 0.5rem;
  color: var(--bg-header-gba);
}

.breadcrumb a:hover {
  color: var(--bg-header-gba-hover);
}
.content span {
  display: inline-block;
  color: var(--text-primary);
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.1rem;
}
.firered {
  background: linear-gradient(135deg, #ff4500, #ff6347, #ffd700);
}
.emerald {
  background: linear-gradient(135deg, #006400, #3cb371, #98fb98);
}
.leafgreen {
  background: linear-gradient(135deg, #32cd32, #7fff00, #adff2f);
}
.ruby {
  background: linear-gradient(135deg, #8b0000, #ff4500, #ffa07a);
}
.sapphire {
  background: linear-gradient(135deg, #00008b, #1e90ff, #87cefa);
}
/* Responsividade - Mobile */
@media (max-width: 800px) {
  .container_main {
    grid-template-columns: 1fr;
  }

  .guide {
    display: none; /* Esconde as colunas laterais */
  }

  .breadcrumb {
    display: flex; /* Exibe o breadcrumb no mobile */
    flex-wrap: wrap;
  }
}
